<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <!-- TODO #3 - Use the same list display from search.html -->

    <table th:each="individualJob, idx : ${jobs}" th:class="${idx.odd} ? 'odd'">
        <tr th:each="jobPost : ${individualJob}">
            <td th:text="${jobPost.key}"></td>
            <td th:text="${jobPost.value}"></td>

        </tr>
        <br/>
        <br/>

    </table>

</div>
</body>

</html>